<nav class="navbar navbar-expand-md bg-dark">

    <div class="mx-auto">
        <a class="m-auto" href="">
            <img src="" alt="Logo">
        </a>

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

    <div class="navbar-collapse collapse dual-collapse2">

        <ul class="navbar-nav m-auto text-center">

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro_produto' %}">Cadastrar Filmes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_produtos' %}">Listar Filmes</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro_usuario' %}">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logar_usuario' %}">Logar</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
