<nav class="navbar navbar-expand-md bg-dark">

    <div class="mx-auto">
        <a class="m-auto" href="">
            <img src="" alt="Logo">
        </a>

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

    <div class="navbar-collapse collapse dual-collapse2">

        <ul class="navbar-nav m-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastro_produto' %}">Cadastrar Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_produtos' %}">Listar Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastro_usuario' %}">Cadastro Usuário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </div>

</nav>
