<nav class="navbar navbar-expand-md bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastro_produto' %}">Cadastrar Filmes</a>
            </li>
        </ul>
    </div>

    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            Filmes
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_produtos' %}">Listar Filmes</a>
            </li>
        </ul>
    </div>

</nav>