{% extends 'base.html' %}

{% block content %}

    <div class="form-delete">
        <form method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja deletar {{ object }}?</p>
            <button class="btn btn-success" type="submit">Confirmar</button>
                <button class="btn btn-danger" type="reset">
                    <a href="{% url 'lista_produtos' %}">
                        Cancelar
                    </a>
                </button>
            
        </form>
    </div>

{% endblock content %}