{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}
    <center>
        <h1>Cadastro de Filmes</h1>
        
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="content-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                    {{ form.as_table }}
                </table>

                <div class="btn-form">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>

    </center>
{% endblock content %}