{% extends 'base.html' %}

{% block title %}Lista Filmes{% endblock title %}

{% block content %}

    <div class="container">
        <div class="titulo-lista">
            <h1>Lista de Filmes</h1>
        </div>

        <center>
            <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </center>

        <div class="row justify-content-sm-center">
            {% for produto in object_list %}
                <div class="produto-lista col-4">
                    <p>Nome: {{ produto.nome }}</p>
                    <p>Categoria: {{ produto.categoria }}</p>
                    <p>Valor: R${{ produto.valor }}</p>
                    <p>Quantidade: {{ produto.quantidade }}</p>
                    <p>
                        <a href="{% url 'edita_produto' produto.pk %}">Editar</a>
                        <a href="{% url 'deleta_produto' produto.pk %}">Deletar</a>                    
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <center>
        <div class="pagination-content">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </center>
    
{% endblock content %}